*{
    background-image: url("../img/Screenshot_20241002-105015.png");
    background-repeat: no-repeat;
}

#three {
    display: none;
}

#five {
    display: none;
}

#Under-3 {
    display: none;
}